<ion-view style="" class=" " id="page3" title="Apps">
    <ion-content class="has-header" padding="true">
        <div style="" id="apps-list-item-container4" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="apps-markdown4">Some friendly
                <strong>markdown</strong>
            </p>
            <ion-list class=" " id="apps-list5">
                <ion-item ng-repeat="app in apps">
                    <div class="item-name">{{app.name}}</div>
                	 <button-custom class="button-custom" scheme="app.scheme" label="Open" disable="true"></button-custom>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>